<div [@routerTransition]>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
      <div [class]="containerClass">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                <span>{{l("Arausers")}}</span>
            </h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">
                {{l("ArausersHeaderInfo")}}
            </span>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
            </div>
        </div>
      </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                    <div>
                        <ejs-grid
                            #grid
                            [dataSource]='araUserGridData'
                            [showColumnChooser]="true"
                            [allowSorting]="true"
                            [allowPaging]="true"
                            [allowResizing]="true"
                            [allowReordering]='true'
                            [allowFiltering]="true"
                            [allowGrouping]="true"
                            [filterSettings]='filterOptions'
                            [toolbar]='toolbarOptions'
                            [editSettings]='editSettings'
                            [selectionSettings]='selectionSettings'
                            (dataBound)='dataBound($event)'
                            (actionComplete)='actionComplete($event)'
                        >
                            <e-columns>
                                <e-column field='user_id' headerText='User ID' textAlign='Right' width=120 isPrimaryKey='true' [allowEditing]='false'></e-column>
                                <e-column field='user_name' headerText='Name' width=150></e-column>
                                <e-column field='user_real_name' headerText='Real Name' width=150></e-column>
                                <e-column field='prof_id' headerText='Profile ID' width=150 editType='dropdownedit'></e-column>
                                <!-- <e-column field='PROF_ID' headerText='Profile' width=150 editType='dropdownedit' [dataSource]='araProfileData' foreignKeyValue='PROF_DESCRIPTION'></e-column> -->
                                <e-column field='user_email' headerText='Email' width=150></e-column>
                            </e-columns>
                        </ejs-grid>
                        <!-- <ejs-tab id="element">
                            <e-tabitems>
                                <e-tabitem [header]='headerText[0]'>
                                    <ng-template #content>
                                        <ejs-grid #childGrid [dataSource]='accessRegionGridData' [showColumnChooser]="true" [allowSorting]="true" [allowPaging]="true" [allowResizing]="true" [allowReordering]='true' [allowFiltering]="true" [allowGrouping]="true" [filterSettings]='filterOptions' [toolbar]='toolbarOptions'
                                            [editSettings]='editSettings' (dataBound)='dataBound()' (actionBegin)='actionBegin($event)'>
                                        </ejs-grid>
                                    </ng-template>
                                </e-tabitem>
                                <e-tabitem [header]='headerText[1]'>
                                    <ng-template #content>
                                        <ejs-grid #childGrid [dataSource]='accessZoneGridData' [showColumnChooser]="true" [allowSorting]="true" [allowPaging]="true" [allowResizing]="true" [allowReordering]='true' [allowFiltering]="true" [allowGrouping]="true" [filterSettings]='filterOptions'
                                            [toolbar]='toolbarOptions' [editSettings]='editSettings' (dataBound)='dataBound()' (actionBegin)='actionBegin($event)'>
                                        </ejs-grid>
                                    </ng-template>
                                </e-tabitem>
                            </e-tabitems>
                        </ejs-tab> -->
                    </div>
            </div>
        </div>
    </div>

    <createOrEditArauserModal #createOrEditArauserModal></createOrEditArauserModal>
    <viewArauserModal #viewArauserModal></viewArauserModal>
    
  </div>
</div>
